.tableTd {
	text-align: left;
}

.inputTitle{
	margin: 15px auto;
	width: 100%;
	height: 25px;
}

.titleprice {
  display: flex;
  gap: 8px; /* 입력 칸 사이의 간격 */
  width: 100%; /* 필요에 따라 전체 너비 조절 */
}

.priceTitle {
  flex: 5; /* 제목 칸의 비율 (더 길게) */
  height: 25px;
}

.priceInput {
  flex: 1; /* 가격 칸의 비율 (더 작게) */
  height: 25px;
}

.inputContent{
	width: 100%;
	height: 160%;
}
.viewContent{
	border: 1px solid black;
	width: 100%;
	height: 300px;
}

.submitBtn {
    display: block;
    margin: 0 auto;
    
	/* 크기 및 여백 */
	padding: 5px 10px;
	font-size: 14px;
}


.contentFunction{
	border: 1px solid black;
	bottom: 10px;
}

.contentFunction select {
  height: 22px;
}

.BIU button {    /*크기 고정*/
  width: 22px;
  height: 22px;
}
.bold{
	font-weight: bold;
}
.italic{
	font-style: italic;
}
.underline{
	text-decoration: underline;
}