# --- Eclipse Metadata ---
.metadata/
.settings/
*.settings/
.recommenders/

# --- Build Outputs ---
bin/
build/
target/
*.class

# --- Project Files ---
.classpath
*.classpath
.project

# --- mac ---
.DS_Store
*.DS_Store
